relazione*/*.aux
relazione*/*.log
relazione*/*.out
relazione*/*.toc
relazione*/*.synctex.gz
relazione*/*.pdf
relazione*/*.nav
relazione*/*.snm
.idea
trasformatore/*.slo
trasformatore/*.stu
trasformatore/*.dat
trasformatore/*.exm
JavaGA-old/out/
JavaGA-old/target/
JavaGA-old/dependency-reduced-pom.xml
instances/*.sol
JavaSA/out/
JavaSA/target/
JavaSA/dependency-reduced-pom.xml
instances/ETPchecker.exe
.~lock.*#
presentazione*/*.aux
presentazione*/*.log
presentazione*/*.out
presentazione*/*.toc
presentazione*/*.synctex.gz
presentazione*/*.pdf
presentazione*/*.nav
presentazione*/*.snm