*.aux
*.log
*.synctex.gz
*.pdf
.idea
trasformatore/*.slo
trasformatore/*.stu
trasformatore/*.dat
trasformatore/*.exm
Java/out/
Java/target/
Java-ga/out/
Java-ga/target/
Java-ga/dependency-reduced-pom.xml
instances/*.sol
JavaSA/out/
JavaSA/target/
JavaSA/dependency-reduced-pom.xml
